In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("House Price India.csv")

In [ ]:
# STEP 1:Read the required data from the csv using pandas to inspect structure and columns

In [ ]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
0,6762810145,42491,5,2.50,3650,9050,2.0,0,4,5,...,1921,0,122003,52.8645,-114.557,2880,5400,2,58,2380000
1,6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
2,6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
3,6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
4,6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000

In [ ]:
# STEP2: To show that data is imported correctly in the notebook with all the column aligned properly.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14620 entries, 0 to 14619
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     14620 non-null  int64
 1   Date                                   14620 non-null  int64
 2   number of bedrooms                     14620 non-null  int64
 3   number of bathrooms                    14620 non-null  float64
 4   living area                            14620 non-null  int64
 5   lot area                               14620 non-null  int64
 6   number of floors                       14620 non-null  float64
 7   waterfront present                     14620 non-null  int64
 8   number of views                        14620 non-null  int64
 9   condition of the house                 14620 non-null  int64
 10  grade of the house                     14620 non-null  int64
 11  Area of the house(excluding basement)  14620 non-null  int64
 12  Area of the basement                   14620 non-null  int64
 13  Built Year                             14620 non-null  int64
 14  Renovation Year                        14620 non-null  int64
 15  Postal Code                            14620 non-null  int64
 16  Lattitude                              14620 non-null  float64
 17  Longitude                              14620 non-null  float64
 18  living_area_renov                      14620 non-null  int64
 19  lot_area_renov                         14620 non-null  int64
 20  Number of schools nearby               14620 non-null  int64
 21  Distance from the airport              14620 non-null  int64
 22  Price                                  14620 non-null  int64
dtypes: float64(4), int64(19)
memory usage: 2.6 MB

In [ ]:
# STEP 3: To check the data types of coloumns and non null values before analysis to reduce error.

In [ ]:
df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [ ]:
# STEP 4: Total number of null values present in the columns of the data and check the coloumn is safe for calculation or not.

In [ ]:
df_drop = df.dropna()

In [ ]:
# STEP 5: To check the missing values for analysis and handel them according to their data types (exceptionally this data set has no null values).

In [ ]:
df["Price"] = df["Price"].fillna(df["Price"].mean())

In [ ]:
# STEP 6: To fill the missing price value with the mean value for the proper visuallisation of the data reduce error during graph formation.

In [ ]:
df["living area"] = df["living area"].fillna(df["living area"].median())

In [ ]:
# STEP 7 : Filling the categorical data with the median value.

In [ ]:
df.isnull().sum()

id                                       0
Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
price                                    0
dtype: int64

In [ ]:
# STEP 8: Again check the null values after modification

In [17]:
df.shape[0]

14620

In [ ]:
df["id"].duplicated().sum()

np.int64(0)

In [ ]:
# STEP 9: No duplicates were found in the id column of the data, as id should be uniques for every order.

In [ ]:
df.dtypes

id                                         int64
Date                                       int64
number of bedrooms                         int64
number of bathrooms                      float64
living area                                int64
lot area                                   int64
number of floors                         float64
waterfront present                         int64
number of views                            int64
condition of the house                     int64
grade of the house                         int64
Area of the house(excluding basement)      int64
Area of the basement                       int64
Built Year                                 int64
Renovation Year                            int64
Postal Code                                int64
Lattitude                                float64
Longitude                                float64
living_area_renov                          int64
lot_area_renov                             int64
Number of schools nearby                   int64
Distance from the airport                  int64
Price                                      int64
price                                      int64
dtype: object

In [ ]:
# STEP 10: To check the data types of the columns for Correct calculations, avoid erorrs and data validation , e.g, if a date column has an types int we can not 
#         analyse sales over month and year

In [ ]:
df["Date"] = pd.to_datetime(df["Date"])

In [ ]:
# STEP 11: To convert the dates to the datetime format for the analysis and trends over months.

In [ ]:
df["number of bathrooms"] = df["number of bathrooms"].astype(int)  #changing datatypes

In [ ]:
df["Postal Code"] = df["Postal Code"].astype("category")  #changing data types

In [ ]:
df["waterfront present"] = df["waterfront present"].astype(bool)  #changing datatypes

In [ ]:
df.dtypes

id                                                int64
Date                                     datetime64[ns]
number of bedrooms                                int64
number of bathrooms                               int64
living area                                       int64
lot area                                          int64
number of floors                                float64
waterfront present                                 bool
number of views                                   int64
condition of the house                            int64
grade of the house                                int64
Area of the house(excluding basement)             int64
Area of the basement                              int64
Built Year                                        int64
Renovation Year                                   int64
Postal Code                                    category
Lattitude                                       float64
Longitude                                       float64
living_area_renov                                 int64
lot_area_renov                                    int64
Number of schools nearby                          int64
Distance from the airport                         int64
Price                                             int64
price                                             int64
dtype: object

In [ ]:
df["house age"] = 2026 - df["Built Year"]

In [ ]:
# STEP 12: Adding a new coloumn to the data using the existing columns.

In [ ]:
df["age Category"] = pd.cut( df["house age"], bins= [0,10,30,60,200], labels = ["New", "mid-aged", "old", "very-old"])  #also assigning tags to the calculated data

In [37]:
df["estimated cost"] = df["living area"]*150
df["profit_margin"] = (df["price"] - df["estimated cost"])/ df["price"]

In [39]:
df.dtypes

id                                                int64
Date                                     datetime64[ns]
number of bedrooms                                int64
number of bathrooms                               int64
living area                                       int64
lot area                                          int64
number of floors                                float64
waterfront present                                 bool
number of views                                   int64
condition of the house                            int64
grade of the house                                int64
Area of the house(excluding basement)             int64
Area of the basement                              int64
Built Year                                        int64
Renovation Year                                   int64
Postal Code                                    category
Lattitude                                       float64
Longitude                                       float64
living_area_renov                                 int64
lot_area_renov                                    int64
Number of schools nearby                          int64
Distance from the airport                         int64
Price                                             int64
price                                             int64
house age                                         int64
age Category                                   category
estimated cost                                    int64
profit_margin                                   float64
dtype: object

In [40]:
df.head()

,id,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,...,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price,price,house age,age Category,estimated cost,profit_margin
0,6762810145,1970-01-01 00:00:00.000042491,5,2,3650,9050,2.0,False,4,5,...,2880,5400,2,58,2380000,2380000,105,very-old,547500,0.769958
1,6762810635,1970-01-01 00:00:00.000042491,4,2,2920,4000,1.5,False,0,5,...,2470,4000,2,51,1400000,1400000,117,very-old,438000,0.687143
2,6762810998,1970-01-01 00:00:00.000042491,5,2,2910,9480,1.5,False,0,3,...,2940,6600,1,53,1200000,1200000,87,very-old,436500,0.636250
3,6762812605,1970-01-01 00:00:00.000042491,4,2,3310,42998,2.0,False,0,3,...,3350,42847,3,76,838000,838000,25,mid-aged,496500,0.407518
4,6762812919,1970-01-01 00:00:00.000042491,3,2,2710,4500,1.5,False,0,4,...,2060,4500,1,51,805000,805000,97,very-old,406500,0.495031

In [ ]:
df.to_csv('cleaned_house_data.csv', index=False)  #saving the cleaned and modified csv